name: Next.js Bundle Monitor

on:
  pull_request:
    types: ["opened", "reopened", "synchronize"]
jobs:
  calculate-size:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: "10.0.0"
      - uses: shaunchurch/nextjs-bundle-monitor-action@main
        with:
          bootstrap: "npm run install"
          build_command: "npm run build"
          dist_path: ".next"
          token: ${{ secrets.GITHUB_TOKEN }}
