name: Next.js Bundle Monitor

on:
  pull_request:
    types: ["opened", "reopened", "synchronize"]
jobs:
  calculate-size:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: "14.15.0"
      - uses: shaunchurch/nextjs-bundle-monitor-action@main
        with:
          install_command: "npm install"
          build_command: "npm run build"
          dist_path: ".next"
          again: "again"
          workspace: ${{ github.workspace }}
          token: ${{ secrets.GITHUB_TOKEN }}
